
<style>
  .items{
    display: flex;
    justify-content: space-between;
    padding: 25px;
    transition: 0.3s;
    border: 0.8px solid #F5F5F5;
  }
  .items:hover{
    background-color: #F5F5F5;
  }
  .create-btn{
    margin: 30px;
  }
  .show-btn {
    padding: 5px;
  }
<%=render partial: "shared/sidebar"%>
</style>
<div class ="container">
  <div class ="row">
    <div class ="col-xs-10 col-sm-offset-4 col-md-11 col-md-offset-1">
      <div class ="text-center">
        <h2> Incompletas </h2>
        <br/>
        <br/>
        <ul class ="list-unstyled user-list">
          <%@salidas.each do |salida|%>
            <li class ="items">
              <div class ="item">
                <p><strong>Nombre</strong></p>
                <p><%=salida.nombre%></p>
              </div>
              <div class ="item">
                <p><strong>Fecha</strong></p>
                <p><%=salida.created_at.strftime("%Y-%m-%d")%></p>
              </div>
              <div class ="item">
                <p><strong>Folio</strong></p>
                <p><%=salida.id - 6%></p>
              </div>
              <%=link_to "Ver salida", salida_path(salida), class: "btn btn-info show-btn"%>
            </li>
          <%end%>
        </ul>
      </div>
    </div>
  </div>
</div>

