<style>
  body{
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  }
  .games-card{
    border-radius: 10px;
    box-shadow: 20px;
    padding: 30px;
    background-color: #F5F5F5
  }
  .card li{
    padding-bottom: 30px;
  }
  .item{
    margin-bottom: 10px;
  }

</style>

<div class ="container">
  <div class ="row">
      <div class =" text-center games-card">
        <h2 class ="text-center">Betmathcer games</h2>
        <br/>
        <div class ="card">
          <ul>
            <%@games.each do |game|%>
              <li class = "list-inline list-items">
              <div class ="item">
                <%=link_to game_path(game), class: "btn btn-primary" do %>
                  <%=game.local%> VS <%=game.visit%>
                <%end%>
              </div>
              <div>
                <%= link_to game, method: :delete , class: "btn btn-default destroy-course" do %>
                    Destroy
                <%end%>
              </div>
              </li>
            <%end%>
            <%=link_to "Create game", new_game_path, class: "btn btn-danger"%>
          </ul>
        </div>
      </div>

  </div>
</div>
