<div class ="text-center">
  <%=simple_form_for @game do |f|%>
    <%=f.input :local%>
    <%=f.input :visit%>
    <%=f.input :stadium%>
    <%=f.input :date%>
    <%=f.button :submit, "CREATE", class: "btn btn-primary"%>
  <%end%>
</div>
